<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
	<!-- 定义日志的根目录 -->
	<property name="LOG_HOME" value="../logs" />
	<!-- 定义日志文件名称 程序名_端口号_资料类型 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<!--日值配置 -->
	<appender name="dayValue" class="org.cimiss2.dwp.tools.LogRollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/grib/%d{yyyy-MM-dd}/cimiss2-dwp-grib-process-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>180</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%-5level %d{yyyy-MM-dd HH:mm:ss}:begin %msg%n%-5level
				%d{yyyy-MM-dd
				HH:mm:ss}:end %n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="dayValueASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="dayValue" />
	</appender>

	<appender name="messageInfo" class="org.cimiss2.dwp.tools.LogRollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/grib/%d{yyyy-MM-dd}/cimiss2-dwp-grib-message-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>180</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%-5level %d{yyyy-MM-dd HH:mm:ss}: %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="dayValueMessageASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>512</queueSize>
		<appender-ref ref="messageInfo" />
	</appender>
	<!--配置日志数据输出类（可配置为包） -->
	<logger name="messageInfo" additivity="false">
		<level value="info" />
		<appender-ref ref="messageInfo" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="loggerInfo" additivity="false">
		<level value="info" />
		<appender-ref ref="dayValue" />
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>